<!DOCTYPE html>
<html>
	<head>
		<title>Cheers For Peers!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
	<h1>Cheers For Peers</h1>
		<div id="app"></div>


	<script src="https://fb.me/react-0.12.2.js"></script>
    <script src="https://fb.me/JSXTransformer-0.12.2.js"></script>	
    <script type="text/jsx" src="../src/app.jsx"></script>
	</body>
</html>