@import "node_modules/material-ui/src/less/scaffolding.less";
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);



@font-face {
font-family: Wisdom;
src: url("/wisdom.otf") format("opentype");
}

h1{
	font-family: Wisdom;
	color: #CB5599 !important;
	margin-top:10% !important;
}

@import "node_modules/material-ui/src/less/components.less";

